// Album info poster
#album-container {
    &.size-s {
        max-width: 450px;
        .album-info-container {
            padding: 1.5rem;
        }
        .album-cover-wrapper {
            margin-bottom: 1rem;
        }
        .album-name {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .track-list {
            font-size: 0.6rem;
        }
        .album-colors {
            .album-color {
                width: 1rem;
            }
        }
        #album-artist {
            font-size: 2rem;
        }
        .album-footer-info {
            font-size: 0.6rem;
        }
    }

    &.size-m {
        max-width: 600px;
    }

    &.size-l {
        max-width: 800px;
    }
}

.album-info-container {
    border: solid 4px black;
    background-color: #efefe6;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: $font-secondary;
    text-rendering: optimizeLegibility;
    @media screen and (max-width: 600px) {
        padding: 1rem;
        margin-bottom: 6rem;
    }
}

.album-name {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    line-height: 1;
    border-bottom: solid 3px black;
    word-break: break-word;
    hyphens: auto;
    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 600px) {
        font-size: 1.8rem;
    }
}

.album-cover-wrapper {
    background-color: black;
    width: 100%;
    aspect-ratio: 1/1;
    line-height: 0;
    margin-bottom: 2rem;
    img {
        width: 100%;
        image-rendering: optimizequality;
    }
}

ol.track-list {
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-position: outside;
    column-count: 2;
    column-gap: 2.5rem;
    margin-left: 1rem;
    font-size: 1rem;
    height: 100%;
    @media screen and (max-width: 768px) {
        column-gap: 2rem;
        font-size: 0.9rem;
        padding-bottom: 0;
    }
    @media screen and (max-width: 600px) {
        column-gap: 1.5rem;
        font-size: 0.8rem;
        padding-bottom: 0;
    }
    li {
        font-weight: 700;
    }
}

.album-tracklist-genre-wrapper {
    display: flex;
    gap: 2rem;
    border-bottom: solid 3px black;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 0;
    }

    .left {
        flex: 2;
    }

    .right {
        flex: 1;
        font-size: 1rem;
    }
}

.album-footer-info {
    display: flex;
    gap: 0.5rem;
    @media screen and (max-width: 600px) {
        display: inline-flex;
        flex-wrap: wrap;
    }
}

.album-genre,
.album-style {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.album-year,
.album-text-label,
.album-label {
    font-weight: 700;
    text-transform: uppercase;
    @media screen and (max-width: 600px) {
        white-space: nowrap;
    }
}

.album-year,
.album-label {
    &:after {
        content: "|";
        font-weight: inherit;
        margin-left: 0.5rem;
    }
}

.album-cover-back {
    width: 100%;
    margin-bottom: 2rem;
    line-height: 0;
    img {
        margin-left: auto;
        width: 100%;
        max-width: 12rem;
        height: auto;
        background-color: black;
        aspect-ratio: 1/1;
        image-rendering: optimizequality;
        @media screen and (max-width: 600px) {
            max-width: none;
            margin-top: 1.5rem;
        }
    }
}

.album-colors {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .album-color {
        flex: 1;
        display: block;
        width: 2.5rem;
        aspect-ratio: 1/1;
    }
}

.album-artist {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 3px black;
    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        row-gap: 0.5rem;
    }
    h3 {
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
        margin-left: auto;
        line-height: 1;
        @media screen and (max-width: 768px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 1.8rem;
            margin-left: 0;
            text-align: left;
        }
    }
}
