
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

html, body {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    background-color: #efefe6;
}

h1, h2, h3, h4, h5 {
    font-family: $font-secondary;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
}

main {
    min-height: 20rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}

footer {
    background-color: rgb(61, 61, 61);
    color: white;
    margin-top: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 0.9rem;
}

.album-colors {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .album-color {
        flex: 1;
        display: block;
        width: 2.5rem;
        aspect-ratio: 1/1;
    }
}