/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #efefe6;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
}

main {
  min-height: 20rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

footer {
  background-color: rgb(61, 61, 61);
  color: white;
  margin-top: 8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.9rem;
}

.search-bar {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  max-width: 13rem;
  flex-direction: column;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;
}
.search-bar .search-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.search-bar .search-button-wrapper a {
  text-decoration: none;
}
.search-bar .search-button-wrapper a:hover {
  text-decoration: underline;
}
.search-bar input {
  width: 100%;
  padding: 0.3rem;
}
.search-bar h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.search-bar ul.albums-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  list-style-type: disc;
  max-height: 8em;
  overflow-x: auto;
}
.search-bar ul.albums-list li {
  font-size: 0.7rem;
  width: 100%;
}
.search-bar ul.albums-list li a {
  display: block;
  color: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.album-info-container {
  border: solid 4px black;
  background-color: #efefe6;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Roboto, sans-serif;
}

.album-name {
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  line-height: 1;
  border-bottom: solid 3px black;
}

.album-cover-wrapper {
  background-color: black;
  width: 100%;
  aspect-ratio: 1/1;
  line-height: 0;
  margin-bottom: 2rem;
}
.album-cover-wrapper img {
  width: 100%;
}

ol.track-list {
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-left: 1rem;
  font-size: 0.9rem;
}
ol.track-list li {
  font-weight: 600;
}

.album-tracklist-genre-wrapper {
  display: flex;
  gap: 2rem;
  border-bottom: solid 3px black;
}
.album-tracklist-genre-wrapper .left {
  flex: 2;
}
.album-tracklist-genre-wrapper .right {
  flex: 1;
  font-size: 0.9rem;
}

.album-genre-style {
  display: flex;
}

.album-genre,
.album-style {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.album-year {
  font-weight: 600;
  text-transform: uppercase;
}

.album-label {
  font-weight: 600;
  text-transform: uppercase;
}

.album-cover-back {
  width: 100%;
  max-width: 8rem;
  margin-bottom: 2rem;
  background-color: black;
  line-height: 0;
}
.album-cover-back img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.album-colors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.album-colors .album-color {
  flex: 1;
  display: block;
  width: 2.5rem;
  aspect-ratio: 1/1;
}

.album-artist {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
}
.album-artist h3 {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  margin-left: auto;
  line-height: 1;
}/*# sourceMappingURL=style.css.map */