/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #000000;
  background-color: #EFEFE6;
  color-scheme: dark;
}
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #000000;
    color: #FFFFFF;
  }
}

body {
  font-size: 1rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
}

main {
  min-height: 20rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

footer {
  background-color: rgb(61, 61, 61);
  color: white;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.8rem;
}
@media screen and (max-width: 600px) {
  footer {
    margin-top: 3rem;
  }
}

.hidden {
  display: none !important;
}

.search-bar {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  max-width: 13rem;
  flex-direction: column;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) {
  .search-bar {
    position: relative;
    top: initial;
    right: initial;
    max-width: none;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 2rem);
  }
}
.search-bar .search-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.search-bar .search-button-wrapper a {
  text-decoration: none;
}
.search-bar .search-button-wrapper a:hover {
  text-decoration: underline;
}
.search-bar input {
  width: 100%;
  padding: 0.3rem;
}
.search-bar h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.search-bar ul.albums-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  list-style-type: disc;
  max-height: 6rem;
  overflow-x: auto;
}
@media screen and (max-width: 600px) {
  .search-bar ul.albums-list {
    max-height: none;
  }
}
.search-bar ul.albums-list li {
  font-size: 0.7rem;
  width: 100%;
  margin-bottom: 0.2rem;
}
.search-bar ul.albums-list li a {
  display: block;
  color: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

#album-container.size-s {
  max-width: 450px;
}
#album-container.size-s .album-info-container {
  padding: 1.5rem;
}
#album-container.size-s .album-cover-wrapper {
  margin-bottom: 1rem;
}
#album-container.size-s .album-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#album-container.size-s .track-list {
  font-size: 0.6rem;
}
#album-container.size-s .album-colors .album-color {
  width: 1rem;
}
#album-container.size-s #album-artist {
  font-size: 2rem;
}
#album-container.size-s .album-footer-info {
  font-size: 0.6rem;
}
#album-container.size-m {
  max-width: 600px;
}
#album-container.size-l {
  max-width: 800px;
}

.album-info-container {
  border: solid 4px #000000;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 600px) {
  .album-info-container {
    padding: 1rem;
    margin-bottom: 6rem;
  }
}
@media (prefers-color-scheme: dark) {
  .album-info-container {
    border-color: #FFFFFF;
  }
}

.album-name {
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  line-height: 1;
  border-bottom: solid 3px #000000;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media screen and (max-width: 768px) {
  .album-name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .album-name {
    font-size: 1.8rem;
  }
}
@media (prefers-color-scheme: dark) {
  .album-name {
    border-bottom-color: #FFFFFF;
  }
}

.album-cover-wrapper {
  background-color: #000000;
  width: 100%;
  aspect-ratio: 1/1;
  line-height: 0;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .album-cover-wrapper {
    margin-bottom: 1rem;
  }
}
.album-cover-wrapper img {
  width: 100%;
  image-rendering: optimizequality;
}

ol.track-list {
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2.8rem;
       column-gap: 2.8rem;
  margin-left: 1rem;
  font-size: 1rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  ol.track-list {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    font-size: 0.9rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  ol.track-list {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    font-size: 0.8rem;
    padding-bottom: 0;
  }
}
ol.track-list li {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.album-tracklist-genre-wrapper {
  display: flex;
  gap: 2rem;
  border-bottom: solid 3px black;
}
@media screen and (max-width: 600px) {
  .album-tracklist-genre-wrapper {
    flex-direction: column;
    gap: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .album-tracklist-genre-wrapper {
    border-bottom-color: #FFFFFF;
  }
}
.album-tracklist-genre-wrapper .left {
  flex: 2;
}
.album-tracklist-genre-wrapper .right {
  flex: 1;
  font-size: 1rem;
}

.album-footer-info {
  display: flex;
  gap: 0.3rem;
}
@media screen and (max-width: 600px) {
  .album-footer-info {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.album-genre,
.album-style {
  font-weight: 700;
  text-transform: uppercase;
}

.album-year,
.album-text-label,
.album-label {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .album-year,
  .album-text-label,
  .album-label {
    white-space: nowrap;
  }
}

.album-year:after,
.album-label:after {
  content: "|";
  font-weight: inherit;
  margin-left: 0.5rem;
}

.album-cover-back {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 0;
}
.album-cover-back img {
  margin-left: auto;
  width: 100%;
  max-width: 12rem;
  height: auto;
  background-color: black;
  aspect-ratio: 1/1;
  image-rendering: optimizequality;
}
@media screen and (max-width: 600px) {
  .album-cover-back img {
    max-width: none;
    margin-top: 1.5rem;
  }
}

.album-colors {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.album-colors .album-color {
  flex: 1;
  display: block;
  width: 2.5rem;
  aspect-ratio: 1/1;
}
@media (prefers-color-scheme: dark) {
  .album-colors .album-color {
    outline: solid 1.5px #FFFFFF;
  }
}

.album-artist {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 3px black;
}
@media screen and (max-width: 600px) {
  .album-artist {
    flex-direction: column-reverse;
    row-gap: 0.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .album-artist {
    border-bottom-color: #FFFFFF;
  }
}
.album-artist h3 {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  margin-left: auto;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .album-artist h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .album-artist h3 {
    font-size: 1.8rem;
    margin-left: 0;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */